<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ListIT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#">My Lists</a>
        <a class="nav-link active" href="#">New List</a>
      </div>
    </div>
  </div>
</nav>

<div class="px-4 py-5 text-center" style="background-color:White">
  <h1 class="display-5 fw-bold">ListIT</h1>
  <div class="col-lg-6 mx-auto">
  <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
  </div>
</div>

<div class="container mt-5">

  <div class="d-flex justify-content-between mb-5" >
    <h1>Lists</h1>
    <%= link_to 'New List', new_list_path, class:"btn btn-primary h-100"%>
  </div>

  <div class="d-flex justify-content-right">
    <% @lists.each do |list| %>
    <div class="card-group">
        <div class="card mr-4">
          <div class="card-body">
            <%= image_tag list.poster_url, alt: "poster url", width: 200 %>
            <h2 class="card-title"><%= list.name %></h5>
            <div>
              <%= link_to 'Enter', list, class:"btn btn-primary"%>
              <%= link_to 'Delete', list, class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <br>
  <br>

</div>
